div(id='frindLink') 友情链接：
    span <a href="http://www.91baidupan.com/" target="_blank" title="91百度盘 更好用的网盘搜索引擎">91百度盘</a>
    span <a href="http://www.chinadmoz.org/linkin.asp?id=112618" target="_blank" title="DMOZ目录，收录各类优秀网站">DMOZ目录</a>
    span <a href=http://www.0460.com>0460网站之家</a>
    span <a href=http://cn.baiwanzhan.com>百万网址导航</a>
div 京ICP备17030239号-1 | 联系我们：baidupan91@hotmail.com |
    span <script src="https://s22.cnzz.com/z_stat.php?id=1262028707&web_id=1262028707" language="JavaScript"></script>
script(src='/js/pages.js')



