doctype html
html
    head
        meta(charset='utf-8')
        title= '91百度盘搜索引擎'
        link(rel="shortcut icon" href='/images/favicon.ico')
        //link(rel="stylesheet",href="//cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.css")
        //link(rel="stylesheet",href='/stylesheets/semantic.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
        //script(src="//cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.js")
    body
        div(id='wrapper')
            include ./nav
            div(class='first-content')
                block content
        div(class='footer')
            include ./footer