extends layout

block content
    include ./component/logo
    include ./component/search

    if results
        div(class="ui horizontal divider") 搜索结果
        div(class='ui huge selection celled list' id='tableList')
            include ./component/table
            div(class='')
