extends layout

block content
    div(class='ui grid')
        div(class='ten wide column centered ')
            form(class='ui form' method='post')
                div(class='ui grid')
                    div(class='twelve wide column')
                       input(placeholder='搜索你想找的' type='text' name='searchValue')
                    div(class='four wide column')
                       input(type='submit' class='ui button' value='搜索')

    if results
        <div class="ui horizontal divider">搜索结果</div>
        div(class='ui huge selection celled list')
            each result in results[0]
                    div(class='item')
                        div(class='content')
                            div(class='ui sub header')
                                a(class='text' href=`/result/?view=${result.shareid}` target='_blank') #{result.title}
        div(class='ui header') 总共记录：#{results[1][0].total}