extends layout

block content
    div(class='ui grid')
        div(class='ten wide column centered ')
            include ./component/search

    if results
        //<div class="ui horizontal divider" >搜索结果</div>
        div(class='ui huge selection celled list' id='tableList')
            include ./component/table
            div(class='')
        include ./component/pages