extends layout

block content
    include ./component/logo
    include ./component/search

    if hots
        include ./component/hot
        div(class='dividerPages')
        include ./component/newShare
    div(class='dividerPages')
    if results
        include ./component/filter
        div(class='ui huge selection celled list' id='tableList')
            include ./component/table
            div(class='')