extends layout

block content
    div(class='ui grid')
        div(class='ten wide column centered ')
            form(class='ui form' method='post')
                div(class='ui grid')
                    div(class='twelve wide column')
                       input(placeholder='搜索你想找的' type='text' name='searchValue')
                    div(class='four wide column')
                       input(type='submit' class='ui button' value='搜索')
