div(class='m-line')
div(class='clear')
div(class='m-footer')
    div(class='m-divider')
    a(class='m-footer-home' href='http://m.pansou123.com/')
            i
            p 网站首页
    a(class='m-footer-phone' href='http://m.pansou123.com/?type=m')
            i
            p 手机版
    a(class='m-footer-pc' href='http://www.pansou123.com?type=pc')
            i
            p 电脑版
    div(class='clear')
    div(class='m-msg') 联系我们：baidupan91@hotmail.com
    div(class='m-msg') 京ICP备17030239号-1
script(src='/js/mPages.js')
div(class='clear')
div
    span(class='m-calc') <script src="https://s22.cnzz.com/z_stat.php?id=1262028707&web_id=1262028707" language="JavaScript"></script>