div(class='page-width')
    ul(class='menus g-grid')
        li(class='g-gc')
            a(class='link' href='/' title='91百度盘 最快的百度网盘搜索引擎') 首页
        li(class='g-gc')
            a(class='link' href='/hotMenu' title='最新电影、电视剧、综艺、小说、歌曲推荐') 热门推荐
        li(class='g-gc')
            a(class='link' href='/latestMenu' title='91百度盘收录的最新百度网盘分享') 最新收录
        li(class='g-gc')
            a(class='link' href='/menu?type=1' title='91百度盘收录的最新百度网盘分享') 视频
        li(class='g-gc')
            a(class='link' href='/menu?type=2' title='91百度盘收录的最新百度网盘分享') 音乐
        li(class='g-gc')
            a(class='link' href='/menu?type=3' title='91百度盘收录的最新百度网盘分享') 图片
        li(class='g-gc')
            a(class='link' href='/menu?type=4' title='91百度盘收录的最新百度网盘分享') 文档
        li(class='g-gc')
            a(class='link' href='/menu?type=5' title='91百度盘收录的最新百度网盘分享') 应用
        li(class='g-gc')
            a(class='link' href='/menu?type=7' title='91百度盘收录的最新百度网盘分享') 种子
        li(class='g-gc')
            a(class='link' id='addFav' title='感谢你的收藏！') 收藏
div(class='dividerPages')