div(class='ui grid' id='menuDiv')
    div(class='eleven wide column')
    div(class="four wide column")
        div(class='ui two item menu')
            a(class=" active item" href='/' title='91百度盘 最快的百度网盘搜索引擎') 首页
            a(class="item" id='addFav' title='感谢你的收藏！') 收藏
