extends layout

block content
    include ./component/resultSearch
    div(class='ad')
        script(src='/js/ad96090.js')
    include ./component/share
    script(src='/js/ad120600.js')
    script(src="/js/ad250.js")