div(class='filterDiv')
    table(class='ui celled table')
        tr
            td
                span(id='filterText') 筛选:
                span(class='filterSpan' data-click = '1' data-value='9' style='background-color: #CCCCCC;color: white') 全部
                span(class='filterSpan' data-click = '0' data-value='1') 视频
                span(class='filterSpan' data-click = '0' data-value='2') 音乐
                span(class='filterSpan' data-click = '0' data-value='3') 图片
                span(class='filterSpan' data-click = '0' data-value='4') 文档
                span(class='filterSpan' data-click = '0' data-value='5') 应用
                span(class='filterSpan' data-click = '0' data-value='7') 下载
                span(class='filterSpan' data-click = '0' data-value='6') 其他