each result in results[0]
    div(class='item')
        div(class='content')
            div(class='ui sub header')
                a(class='text' href=`/result/?view=${result.ID}` target='_blank') #{result.title}