if !results
    div(class='logo-box' id='logo-box')
        div(class='ui grid')
            div(class='ten wide column centered ')
                div(class='logo-img')
                    img(src='./images/logo.png'  alt='91百度云')
