if !results
    div(class='logo-box' id='logo-box')
        //div(class='ui grid')
        //    div(class='ten wide column centered ')
        //        div(class='logo-img')
        //            img(src='./images/logo.png' title='91百度盘 最快的百度网盘搜索引擎'  alt='91百度云')
        div(class='logo-img')
                   img(src='./images/logo.png' title='91百度盘 最快的百度网盘搜索引擎'  alt='91百度云')
