div(class='textCenter')
    span 共找到：
    //if results.totalRecoders >= 1000
    //    span 大于
    span(id='totalResult') #{results.totalRecoders}
    span 条记录

div(class="ui right floated pagination menu")
    a(class="item" id='homePage' data-value='0' style='display:none;') 第一页
    a(class="icon item" id='prePage' data-value='0' style='display:none;')
        i(class="left chevron icon")
    a(class="icon item" id='nextPage' data-value='1')
        i(class="right chevron icon")