div(class='ui middle aligned grid' id='pagesDiv')
    div(class='two wide column')
        div(class='ui centered header') 找到：
            span(id='totalResult') #{results[1][0].total}
    div(class='six wide column')
        button(class="ui negative basic button" id='homePage' data-value='0' disabled='true') 首页
        button(class="ui negative basic button" id='prePage' data-value='0' disabled='true') 上一页
        button(class="ui negative basic button" id='nextPage' data-value='1') 下一页
div(class='dividerPages')
