div(class='miniSearch')
    form(class='ui form' method='post')
        div(class='searchDiv')
            div(class='searchLogBox')
                if results
                    img(src='../images/logo-min.png' class='logomin-img'  alt='91百度云')
            div(class='searchInput')
                input(placeholder='搜索百度网盘的分享' type='text' name='searchValue' id='searchValue' autocomplete='off')
            div(class='searchBtnDiv')
                input(type='submit' class='ui button' id='searchBtn' value='搜索')
            div(class='dividerPages')
