div(class='miniSearch')
    form(class='ui form' method='post')
        div(class='searchDiv')
            if results
                div(class='searchLogBox')
                    img(src='./images/logo-min.png' class='logomin-img'  alt='91百度云')
                div(class='searchInput')
                    if results
                        input(value=`${results.searchValue} ` autocomplete='off' type='text' name='searchValue' id='searchValue')
                    else
                        input(placeholder='搜索百度网盘的分享' autocomplete='off' type='text' name='searchValue' id='searchValue')
                div(class='searchBtnDiv')
                        input(type='submit' class='ui button' id='searchBtn' value='搜索')
                div(class='dividerPages')
            else
                div(class='searchInputIndex')
                    input(placeholder='搜索百度网盘的分享' autocomplete='off'  type='text'  name='searchValue' id='searchValue')
                div(class='searchBtnDivIndex')
                    input(type='submit' class='ui button' id='searchBtn' value='搜索')
                div(class='dividerPages')