div(class='search-value' style='display:none;' id='search-value') #{results.searchValue}
table(class="ui red table" id='resultList')
    thead
        tr
            th 文件名称
    tbody
        each result in results[0]
            tr
                td
                    a(class='text' href=`/result/?view=${result.shareid}` target='_blank') #{result.title}

